@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap');

/* MAIN STYLES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html{
    font-size: 100%;
    background-color: #221D1D;
}

/* NAVBAR*/
.navbar{
    background-color: #ED2525 !important;
}

.navbar-brand{
    color: #221D1D;
}

.banner{
    background-image: url("./assets/vipul-jha-a4X1cdC1QAc-unsplash.jpg");
    height: 250px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title{
    background-color: rgba(34, 29, 29, 0.705);
    display: flex;
    flex-direction: column;
    border-color: #ffff;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.main-title-h1{
    color:#ffff;
    font-size: 1.5rem;
}

.main-title-h3{
    color:#ffff;
    font-size: 1rem;
}

/*ABOUT ME*/
.about-me{
    background-color: #221D1D;
}

.about-me_bg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 1rem 0 1rem;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, rgba(217, 217, 217, 0.20) 100%);
    border-radius: 25px;
    padding: 0 0 1rem 0;
}

.about-me_title{
    color:#ED2525;
    margin-top: 2rem;
}

.about-me_profile{
    width: 11rem;
    height: 11rem;
    display: block;
    border-radius: 50%;
    border-color: #ED2525;
    border-width: 2px;
    border-style: solid;
}

.about-me_info{
    color: #ffff;
    text-align: justify;
    padding: 0.5rem;
}

.about-me_skills{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: #ffff;
}

.about-me_skill{
    color: #eb0000;
}

.about-me_skill span{
    color: #ffff;
}

/* EXPERIENCE */

.exp{
    background-color: #221D1D;
    padding: 1rem 0 0 0;
}

.exp_title{
    color:#ED2525;
    margin-top: 2rem;
    text-align: center;
}

.exp_bg{
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    margin: 0 1rem 0 1rem;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, rgba(217, 217, 217, 0.20) 100%);
    border-radius: 25px;
    padding: 0 0 1rem 0;
}

.exp_finnegans{
    display: flex;
    color: #ffff;
}

.exp_finnegans-logo{
    width: 5rem;
    height: 5rem;
    display: block;
    border-radius: 1rem;
    border-color: #ED2525;
    border-width: 2px;
    border-style: solid;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.exp_finnegans-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.exp_finnegans-title{
    font-size: 1.5rem;
}

.exp_finnegans-subtitle{
    font-size: 1.2rem;
}

.exp_finnegans-desc{
    text-align: justify;
}

/*EDUCATION*/

.edu{
    background-color: #221D1D;
    padding: 1rem 0 0 0;
}

.edu_title{
    color:#ED2525;
    margin-top: 2rem;
    text-align: center;
}

.edu_bg{
    margin: 0 1rem 0 1rem;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, rgba(217, 217, 217, 0.20) 100%);
    border-radius: 25px;
    padding: 0 0 1rem 0;
}

.edu_argpro{
    display: flex;
    color: #ffff;
}

.edu_argpro-logo{
    width: 5rem;
    height: 5rem;
    display: block;
    border-radius: 1rem;
    border-color: #ED2525;
    border-width: 2px;
    border-style: solid;
    margin: 0.5rem 0.5rem 0 0.5rem;
}
.edu_argpro-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.edu_argpro-title{
    font-size: 1.5rem;
}

.edu_argpro-subtitle{
    font-size: 1.2rem;
}

.edu_argpro-desc{
    text-align: justify;
}

/*PROJECTS*/
.proj{
    background-color: #221D1D;
    padding: 1rem 0 0 0;
}

.proj_title{
    color:#ED2525;
    margin-top: 2rem;
    text-align: center;
}

.proj_bg{
    margin: 0 1rem 0 1rem;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, rgba(217, 217, 217, 0.20) 100%);
    border-radius: 25px;
    padding: 0 0 1rem 0;
}

.proj_alura{
    display: flex;
    color: #ffff;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.proj_alura-title{
    font-size: 1.5rem;
}

.proj_alura-screen{
    width: 20rem;
    height: 10rem;
    display: block;
    border-radius: 1rem;
    border-color: #ED2525;
    border-width: 2px;
    border-style: solid;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.proj_alura-info{
    text-align: justify;
    margin: 1rem 1rem 0 1rem;
}

.proj_alura-github{
    color:#ED2525;
    text-decoration: none;
    margin: 1rem 0 0 0;
}

.proj_codo{
    display: flex;
    color: #ffff;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.proj_codo-title{
    font-size: 1.5rem;
    margin: 2rem 0 0 0;
}

.proj_codo-info{
    text-align: justify;
    margin: 1rem 1rem 0 1rem;
}