@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap');

/* MAIN STYLES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root{
    --bg-color-dark: #221D1D;
    --font-color-primary: #ffff;
    --font-color-secondary:#ED2525;
    --bg-main-title: rgba(34, 29, 29, 0.705);
    --font-color-main-title:#ffff;
}

html{
    font-size: 100%;
    background-color: var(--bg-color-dark);
    scroll-behavior: smooth;
}

body{
    padding: 56px 0 0 0;
    background-color: var(--bg-color-dark);
}

h1{
    color:var(--font-color-secondary);
    margin-top: 2rem;
    text-align: center;
    font-weight: 800;
}

h2{
    font-weight: 800;
}

section{
    background-color:var(--bg-color-dark);
    padding: 1rem 0 0 0;
}

.bg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 1rem 0 1rem;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, rgba(217, 217, 217, 0.20) 100%);
    border-radius: 25px;
    padding: 0 0 1rem 0;
}

/* NAVBAR*/
.navbar{
    background-color: var(--font-color-secondary) !important;
}

.navbar-brand{
    color: var(--bg-color-dark);
}

.btn_mode{ 
    border-style: none; 
    padding: 0.5rem;
    color: var(--bg-color-dark);
    background-color: #ffffff00;
    font-size: 2rem;
    transition: all 0.5s ease;
}

.btn_mode:hover{
    color: var(--font-color-primary);
}

.banner{
    background-image: url("./assets/vipul-jha-a4X1cdC1QAc-unsplash.jpg");
    height: 250px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.main-title{
    background-color: var(--bg-main-title);
    display: flex;
    flex-direction: column;
    border-color: var(--font-color-main-title);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.main-title-h1{
    color:var(--font-color-main-title);
    font-size: 1.5rem;
    margin:0;
}

.main-title-h3{
    color:var(--font-color-main-title);
    font-size: 1rem;
}

/*ABOUT ME*/
.about-me_profile{
    width: 11rem;
    height: 11rem;
    display: block;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
}

.about-me_info{
    color: var(--font-color-primary);
    text-align: justify;
    padding: 0.5rem;
}

.about-me_skills{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: var(--font-color-primary);
}

.about-me_skill{
    color: var(--font-color-secondary);
}

.about-me_skill span{
    color: var(--font-color-primary);
}

.about-me_cvBtn{
    padding: 1rem;
    color: var(--font-color-primary);
    background-color: var(--font-color-secondary);
    border-radius: 25px;
    border-style: none;
    font-weight: 800;
}

/*TECHNOLOGIES*/
.tech_icons{
    display: flex;
    border-radius: 25px;
    padding: 0 0 1rem 0;
    flex-flow: wrap;
    justify-content: center;
    gap:2rem;
}

.tech_icon{
    color: var(--font-color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.tech_icon span{
    font-size: 0.8rem;
}

/* EXPERIENCE */
.exp_finnegans{
    display: flex;
    color: var(--font-color-primary);
}

.exp_finnegans-logo{
    width: 5rem;
    height: 5rem;
    display: block;
    border-radius: 1rem;
    border-width: 2px;
    border-style: solid;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.exp_finnegans-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.exp_finnegans-title{
    font-size: 1.5rem;
}

.exp_finnegans-subtitle{
    font-size: 1.2rem;
}

.exp_finnegans-desc{
    text-align: justify;
}

/*EDUCATION*/
.edu_argpro{
    display: flex;
    color: var(--font-color-primary);
}

.edu_argpro-logo{
    width: 5rem;
    height: 5rem;
    display: block;
    border-radius: 1rem;
    border-width: 2px;
    border-style: solid;
    margin: 0.5rem 0.5rem 0 0.5rem;
}
.edu_argpro-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.edu_argpro-title{
    font-size: 1.5rem;
}

.edu_argpro-subtitle{
    font-size: 1.2rem;
}

.edu_argpro-desc{
    text-align: justify;
}

/*PROJECTS*/
.proj_alura{
    display: flex;
    color: var(--font-color-primary);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.proj_alura-title{
    font-size: 1.5rem;
}

.proj_alura-screen{
    width: 20rem;
    height: 10rem;
    display: block;
    border-radius: 1rem;
    border-width: 2px;
    border-style: solid;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.proj_alura-info{
    text-align: justify;
    margin: 1rem 1rem 0 1rem;
}

.proj_repo{
    color:var(--font-color-secondary);
    text-decoration: none;
    padding: 1rem;
    border-radius: 25px;
    transition: all 0.5s ease;
    margin: 1rem 0 0 0;
}

.proj_repo:hover{
    background-color: var(--font-color-secondary);
    color: var(--font-color-primary);
    transform: scale(1.1);
}

.proj_codo{
    display: flex;
    color: var(--font-color-primary);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.proj_codo-title{
    font-size: 1.5rem;
    margin: 2rem 0 0 0;
}

.proj_codo-info{
    text-align: justify;
    margin: 1rem 1rem 0 1rem;
}

/*CURSOS*/
.course_udemyCss{
    display: flex;
    color: var(--font-color-primary);
    justify-content: center;
    align-items: center;
}

.course_udemyCss-logo{
    width: 8rem;
    height: auto;
    display: block;
    border-radius: 1rem;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.course_udemyCss-info{
    text-align: justify;
    margin: 1rem 1rem 0 1rem;
}

.course_udemyCss-title{
    text-align: start;
    font-size: 1.5rem;
}

.course_udemyCss-link{
    text-decoration: none;
    color: var(--font-color-secondary);
}

.course_EF{
    display: flex;
    color: var(--font-color-primary);
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.course_EF-logo{
    width: 8rem;
    height: auto;
    display: block;
    border-radius: 1rem;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.course_EF-info{
    text-align: justify;
    margin: 1rem 1rem 0 1rem;
}

.course_EF-title{
    text-align: start;
    font-size: 1.5rem;
}

.course_EF-link{
    text-decoration: none;
    color: var(--font-color-secondary);
}

.course_OPBoot{
    display: flex;
    color: var(--font-color-primary);
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.course_OPBoot-logo{
    width: 8rem;
    height: auto;
    display: block;
    border-radius: 1rem;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.course_OPBoot-info{
    text-align: justify;
    margin: 1rem 1rem 0 1rem;
}

.course_OPBoot-title{
    text-align: start;
    font-size: 1.5rem;
}

/*SOCIAL LINKS*/
.social_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 1rem;
}

.social_links-linkedin img{
    width: 5rem;
    height: auto;
}

.social_links-github img{
    width: 5rem;
    height: auto;
}

.social_links-FrontendMentor img{
    width: 5rem;
    height: auto;
}

/*FOOTER*/
.foot{
    /*background-color: #221D1D;*/
    text-align: center;
    padding: 2rem 0 0 0;
    margin: 0 1rem 0 1rem;
}

.foot_copyright{
    color:var(--font-color-secondary);
}

/*INTERSECTION OBSERVER*/
.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 1.2s ease-in-out;
    transform: translateX(-100%);
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}




